.readonly {
  border: none;
  outline: none;
  pointer-events: none;
}

.ultra-sound {
  min-width: 150px !important;
}

input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}